{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ "KortURL" | get_site_name }} | {% block title %}{% endblock title %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="{% static 'imgs/favicon.ico' %}" rel="shortcut icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
  {% block extra_header %}<link rel="stylesheet" href="{% static 'css/custom.css' %}">{% endblock extra_header %}
</head>

<body {% block body_style %}style="background-color: {{ "#3498DB"| get_bg_color }};margin-top: 50px;"{% endblock body_style %}>

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ "KortURL" | get_site_name }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.path == "/shorten/" or request.path == "/" %}class="active"{% endif %}><a href="{% url 'shorten' %}">缩短网址 </a></li>
        <li {% if request.path == "/reduce/" %}class="active"{% endif %}><a href="{% url 'reduce' %}">还原网址 </a></li>
        {% if request.user.is_authenticated %}
          <li {% if request.path == "/docs/" %}class="active"{% endif %}><a href="{% url 'docs' %}">接口文档 </a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'history' %}">我的记录</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'logout' %}">退出 </a></li>
          {% else %}
                  <li><a href="{% url 'login' %}">登录 </a></li>
          {% endif %}
              </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block body %}

{% endblock body %}

{% block footer %}
<footer class="main-footer footer navbar-fixed-bottom">
    <strong>Copyright © {{ 2019 | get_year }} <a href="#">{{ "KortURL" | get_company_name }}</a>.</strong> All rights
    reserved.
</footer>
{% endblock footer %}
<!-- jQuery 3 -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fastclick.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

{% block extra_js %}
{% endblock extra_js %}
</body>
</html>
