{% extends 'base/base.html' %}
{% load static %}
{% block title %}缩短网址{% endblock title %}

{% block body %}

    <div class="container">
        <div class="row" style="margin-top: 15%;">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal" method="post" action="{% url 'shorten' %}">
                {% csrf_token %}
                <span class="heading no-select">缩短网址</span>

                <div class="form-group">
                    <input type="text" class="form-control" id="inputRawUrl" name="raw_url" placeholder="请输入以https://或http://开头的完整网址">
                    <i class="fa fa-link"></i>
                    {% if error.raw_url %}<span style="color: red;">{{ error.raw_url.0 }}</span>{% else %}<br>{% endif %}
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="inputExp" name="expire_time" placeholder="请输入有效期(单位：秒)，可不填，则永久有效">
                    <i class="fa fa-clock-o"></i>
                    <br>
                    <button type="submit" class="btn btn-default">GO</button>

                    {% if error.expire_time %}<span style="color: red;">{{ error.expire_time.0 }}</span>{% else %}<br>{% endif %}
                </div>
                {% if short_url %}
                <span class="heading no-select">缩短后的网址</span>
                <div class="form-group">
                    <div class="input-group">
                                <input type="text" id="short_url" class="form-control" value="{{ short_url }}" readonly>
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" onclick="copyText()">点击复制</button>
                                    </span>
                    </div>
                </div>
                {% endif %}
                </form>

            </div>
        </div>
    </div>


{% endblock body %}

{% block extra_js %}
    <script>
        function copyText() {
            var input = document.getElementById("short_url");
            input.select();
            document.execCommand("copy");
            alert("复制成功!");
        }
    </script>
{% endblock %}
